

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
 background:linear-gradient(135deg, #0e6b85, #7f1055); 
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 500px;
    background: rgb(255, 255, 255);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow:  10px 20px 30px black;
}

.todo-app h2 {
    color: rgb(18, 96, 96);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgb(87, 224, 224);
}

.todo-app h2 img {
    width: 34px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(222, 220, 220);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    border: 2px solid black;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: 2px solid rgb(235, 227, 227);
    outline: none;
    padding: 16px 50px;
    background: #d40303;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
   

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(image/unchecked1.png);
    
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #0f0f0f;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(image/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #b2b3b4;
}

/* If the screen size is 600px or less */

@media only screen and (max-width: 600px) {
    body{
      background-color: lightblue;
}
  }

